html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(233, 233, 233);
}

/** GENERAL **/

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.game-card-border {
  border: 1px solid black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

/* ********* */

.container {
  width: 1200px;
  margin: 3rem auto;
  background-color: white;
  min-height: 70vh;
}

@media screen and (max-width: 1199.98px) {
  .container {
    width: 100%;
  }
}

.game-stage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding: 1.5rem;
}

.main-title {
  text-align: center;
}

.game-table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;

  padding: 20px;
  margin: 0 auto;
}

.gamer-side {
  width: 15rem;
  height: max-content;
}

.gamer-img,
.ai-img {
  width: 100%;
}

.score-side {
  width: 15rem;
  height: 19rem;
}

.result {
  display: flex;

  justify-content: center;
  align-items: center;
}

.resultMessage {
  font-size: 20px;
  font-weight: 500;
}

.score-table-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.finalResult {
  padding: 1rem;
  font-size: 2rem;
  margin-top: 1rem;
}

.score-table-container div {
  text-align: center;
  width: 7rem;
}

.ai-side {
  width: 15rem;
  height: max-content;
}

.choose-container {
  display: flex;
  gap: 2rem;

  padding: 1rem;
  background-color: #999;
  border: 1px solid #999;
  border-radius: 10px;
}

.choose-img {
  width: 4rem;
  border-radius: 1rem;
}

.choose-img:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.active-game {
  pointer-events: none;
}

.main-example {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.button-group {
  display: flex;
  gap: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: unset;
}

button:hover {
  background-color: rgb(214, 214, 214);
  cursor: pointer;
}
